<div class="feedback-bar--root" data-js-class="FrameworkFeedbackBar" data-feedback-bar--open="false">
  <div class="feedback-bar--message">
    <span data-feedback-bar--message="contact-modal">
     {{ 'contact_page.success_feedback' | t }}
    </span>
    <span data-feedback-bar--message="newsletter">
      {{ 'home.newsletter.success' | t }}
    </span>
  </div>
</div>