<div class="quantity">
  <label for="quantity">{{ 'products.quantity' | t }}</label>
  <span class="quantity-control quantity-control--decrease js-quantity-control no-selection">-</span>
  <input id="quantity" type="number" name="quantity" min="1" value="1" />
  <span class="quantity-control quantity-control--increase js-quantity-control no-selection">+</span>
</div>