<div class="row" style="padding: 50px 0;">
  <div class="columns colored-links">
    <p>{{ 'collections.no_products_feedback' | t }} <a target="_blank" href="/admin/products">{{ 'collections.no_products_link' | t }}</a></p>
    
  </div>
</div>