<div class="popup">
    <div class="popup-head">
        <button name="popup-close">
            <div class="sidebar-close-button">
                <img class="" src="//cdn.shopify.com/s/files/1/0091/8516/5376/t/7/assets/close.svg?4926945929610220699">
            </div>
        </button>
    </div>
    <div class="popup-body">
        
        <h3 class="gill-sans-regular product-h3">Domestic Orders (USA)</h3>
        <div>
            <h4 class="product-h4">USPS Free Shipping:</h4>
            <ul class="gill-sans-light product-p">
                <li>Free</li>
                <li>1-2 business day processing period </li>
                <li>2-5 business day shipping period</li>
                <li>Does not include insurance</li>
            </ul>
            <h4 class="gill-sans-regular product-h4">USPS Priority Mail:</h4>
            <ul class="gill-sans-light product-p">
                <li>1 business day processing period</li>
                <li>1-3 business day shipping period</li>
                <li>Includes $50 of insurance</li>
            </ul>
        </div>
        <h3 class="gill-sans-regular product-h3">International Orders</h2>
        <div>
            <h4 class="gill-sans-regular product-h4">USPS First Class International:</h4>
            <ul class="gill-sans-light product-p">
                <li>Affordable</li>
                <li>1-2 business day processing period</li>
                <li>7-21 business day shipping period</li>
            </ul>
            <h4 class="gill-sans-regular product-h4">USPS Priority Mail International:</h4>
            <ul class="gill-sans-light product-p">
                <li>1 business day processing period</li>
                <li>6-10 business day shipping period</li>
                <li>Includes $200 of insurance</li>
            </ul>
        </div>
        <h3 class="gill-sans-regular product-h3">Engraving Schedule</h3>
        <p class="gill-sans-light product-p">Please allow an additional 2-3 processing days for standard engraved items, also note that our business hours are Mon-Fri 8am-4-pm, all orders placed after hours will be engraved the next business day.</p>
        
    </div>
</div>