<div class="size-guide-container js-side-menu">
    <div class="sidebar-close-button js-sidebar-close-btn">
        <img class="" src="{{'close.svg' | asset_url}}" />
    </div>
    <div class="size-guide-container__image">
        <img class="image-cover" src="{{variable_ring_image | img_url:'800x'}}" alt="ring size">
        <img class="image-cover" src="{{variable_bracelet_image | img_url:'800x'}}" alt="bracelet size">
        <img class="image-cover active" src="{{variable_necklace_image | img_url:'800x'}}" alt="necklace size">
    </div>
    <div class="size-guide-container__info">
    
        <p class="size-guide-tag text--uppercase">size guide</p>
        <div class="size-guide-tabs">
            <ul class="list--no-style size-guide-product-list">
                <li class="text--uppercase">rings</li>
                <li class="text--uppercase">bracelets</li>
                <li class="text--uppercase active">necklace</li>
            </ul>
            <ul class="list--no-style size-guide-list-content">
                <li class="size-guide-list-content__rings">
                    <table class="size-guide-table">
                        <tr class="size-guide-table-heading">
                            <th class="">US Size</th>
                            <th class="">Circumference (cm)</th>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">5</td>
                            <td class="size-guide-table-measurements">49</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">6</td>
                            <td class="size-guide-table-measurements">52</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">7</td>
                            <td class="size-guide-table-measurements">54.5</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">8</td>
                            <td class="size-guide-table-measurements">57</td>
                        </tr>
                    </table>
                </li>
                <li class="size-guide-list-content__bracelets">
                    <table class="size-guide-table">
                        <tr class="size-guide-table-heading">
                            <th class="">Size</th>
                            <th calss="">Circumference (cm)</th>
                            <th calss="">Circumference (in)</th>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">S/M</td>
                            <td class="size-guide-table-measurements">15.00 - 17.5</td>
                            <td class="size-guide-table-measurements">5.90-6.80</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">L/XL</td>
                            <td class="size-guide-table-measurements">17.78 - 20.00</td>
                            <td class="size-guide-table-measurements">7.00-7.87</td>
                        </tr>
                    </table>
                </li>
                <li class="size-guide-list-content__necklaces active">
                    <table class="size-guide-table">
                        <tr class="size-guide-table-heading">
                            <th class="">Length (in)</th>
                            <th class="">Length (cm)</th>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">16</td>
                            <td class="size-guide-table-measurements">40.50</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">18</td>
                            <td class="size-guide-table-measurements">45.75</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">20</td>
                            <td class="size-guide-table-measurements">50.75</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">24</td>
                            <td class="size-guide-table-measurements">61.00</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">30</td>
                            <td class="size-guide-table-measurements">76.25</td>
                        </tr>
                        <tr>
                            <td class="size-guide-table-measurements">36</td>
                            <td class="size-guide-table-measurements">91.50</td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>