<p style="text-align:center; padding: 30px 0 0;" class="colored-links">
  {{ 'home.product_slider.no_products_feedback' | t }}
  <a target="_blank" href="{{ shop.url }}/admin/collections/">
    {{ 'home.product_slider.no_products_link' | t }}
  </a>
</p>