<h4 class="product-h4 gill-sans-regular">Shipping</h4>
<p class="gill-sans-light product-text-sm">Enjoy complimentary 3-5 days shipping for all U.S orders.</p>
<h4 class="gill-sans-regular product-h4">Returns</h4>
<p class="gill-sans-light product-text-sm">Your purchase may be returned within 30 days. Several types of orders are exempt from being returned. Such as international order and custom products.</p>	
<button data-js="open" class="popup-activator">SHIPPING DETAILS & RATES</button>
{% include 'snippet-shipping-popup' %}